body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
h1 {
  font-size: 3rem;
  color: gold;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tracker {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 3rem 0 1rem;
}
